.logo {
  margin-left: 40px;
}
.search {
  width: 300px;
  margin-top: 40px;
  margin-right: 40px;
  background-color: #deeff5;
  float: right;
}
.menu {
  margin:0;
	padding:0;
  text-align: center;
}
.menu li {
	display:inline;
	padding-right: 5%;
	margin:0;
  text-decoration: none;
  font-size: 20px;
}
.submit {
  float: right;
  margin-top: 20px;
  width: 100%
}
.login {
  float: right;
  text-align: center;
  padding-bottom: 20px;
  width: 100%
}
.login_input {
  padding-bottom: 5px;
}
.userpanel {
  margin-top: 10px;
  float: right;
  width: 20%;
}
.rules {
  margin-top: 10px;
}
.rules li {
  text-align: left;
}
.content {
  float: left;
  width: 80%;
}
body {
  width: 100%;
  display: flex;
}
