<div class = "content">
<div class="row">
  <div class="content">
    <div class="panel panel-warning">
      <div class="panel-body">
        <div ng-repeat="post in posts">
          <p class="article_title">{{post}}</p>
          <a class="comments">comments<a>
          <a class="comments">source<a>
          <a class="comments">share<a>
            <a class="comments">save<a>
            <a class="comments">hide<a>
          <hr noshade></hr>
        </div>

      </div>

      </div>
    </div>
  </div>
</div>
              <!-- <p>Karma: {{post.karma}}</p>
          <span ng-click="vote(post.id, 'up')" class="glyphicon glyphicon-thumbs-up"></span>
          <span ng-click="vote(post.id, 'down')" class="glyphicon glyphicon-thumbs-down"></span>
          <hr>
          <form ng-submit="submitComment(post.id, post.commentForm)">
            <div class="form-group">
              <textarea class="form-control" placeholder="comment" ng-model="post.commentForm"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-danger btn-block">Submit</button>
            </div>
          </form>
          <div ng-repeat="item in post.comments">
            {{item.comments}}
            <hr>
          </div>
        </div>
               </div>
      <div class="panel-footer">
        This is the panel footer.
      </div>
    </div>
  </div> -->

<!--

  arr = [{
    title: "title",
    url: "www.url.com",
    description:"more text"
  },{

  },{

  }
  ] -->
